<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #alert {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 35px;
            z-index: 1000;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="msg" th:text="${msg}" hidden></div>
    <div id="alert"></div>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var msg = document.getElementById('msg');
        if (msg && msg.textContent) {
            showAlert(msg.textContent);
        }
    });

    function showAlert(msg) {
        const alertBox = document.querySelector('#alert');
        alertBox.textContent = msg;
        alertBox.style.display = 'block';
        setTimeout(() => {
            alertBox.style.opacity = '1';
        }, 10);

        setTimeout(() => {
            alertBox.style.opacity = '0';
            setTimeout(() => {
                alertBox.style.display = 'none';
            }, 300);
        }, 3000);
    }
</script> <!--msg alert-->
</html>