<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubMapper">

    <resultMap id="clubResultMap" type="com.multi.udong.club.model.dto.ClubDTO">

        <id property="clubNo" column="club_no"/>

        <result property="clubName" column="club_name"/>
        <result property="introduction" column="introduction"/>
        <result property="currentPersonnel" column="current_personnel"/>
        <result property="maxPersonnel" column="max_personnel"/>
        <result property="chatroomCode" column="chatroom_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>

        <association property="category" resultMap="categoryResultMap"/>
        <association property="location" resultMap="locationResultMap"/>
        <association property="master" resultMap="masterResultMap"/>
        <association property="attachment" resultMap="attachmentResultMap"/>

    </resultMap>
    
    <resultMap id="categoryResultMap" type="categoryDTO">

        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>

    </resultMap>

    <resultMap id="locationResultMap" type="com.multi.udong.common.model.dto.LocationDTO">

        <id property="locationCode" column="location_code"/>
        <result property="siDoName" column="si_do_name"/>
        <result property="siGunGuName" column="si_gun_gu_name"/>
        <result property="eupMyeonDongName" column="eup_myeon_dong_name"/>

    </resultMap>

    <resultMap id="masterResultMap" type="com.multi.udong.club.model.dto.MasterDTO">

        <id property="memberNo" column="member_no"/>
        <result property="nickname" column="nickname"/>

    </resultMap>

    <resultMap id="attachmentResultMap" type="com.multi.udong.common.model.dto.AttachmentDTO">

        <id property="fileNo" column="file_no"/>
        <result property="typeCode" column="type_code"/>
        <result property="targetNo" column="target_no"/>
        <result property="originalName" column="original_name"/>
        <result property="savedName" column="saved_name"/>

    </resultMap>


    <select id="selectCategoryList" resultMap="categoryResultMap">
        SELECT
        A.category_code,
        A.category_name
        FROM CL_CATEGORY A
        ORDER BY
            CASE
                WHEN category_code = 'ETC' THEN 1
                ELSE 0
            END,
        category_code;
    </select>

    <insert id="insertClub" parameterType="com.multi.udong.club.model.dto.ClubDTO" useGeneratedKeys="true" keyProperty="clubNo">
        INSERT INTO CL
            (category_code, location_code, club_name, introduction, master, max_personnel)
        VALUES
            (
            #{ category.categoryCode },
            #{ location.locationCode },
            #{ clubName },
            #{ introduction },
            #{ master.memberNo },
            #{ maxPersonnel }
        )
    </insert>

    <insert id="insertClubImg" parameterType="com.multi.udong.common.model.dto.AttachmentDTO">
        INSERT INTO ATTACHMENT
        (type_code, target_no, original_name, saved_name)
        VALUES
        (
        #{ typeCode },
        #{ targetNo },
        #{ originalName },
        #{ savedName }
        )
    </insert>

    <update id="updateChatroomCode" parameterType="com.multi.udong.club.model.dto.ClubDTO">
        UPDATE CL
        SET chatroom_code = #{ chatroomCode }
        WHERE club_no = #{ clubNo }
    </update>

    <insert id="insertMaster" parameterType="com.multi.udong.club.model.dto.ClubDTO">
        INSERT INTO CL_MEMBER
        (club_no, member_no, join_status, approved_at)
        VALUES
        (
        #{ clubNo },
        #{ master.memberNo },
        'Y',
        NOW()
        )
    </insert>

    <select id="selectClubList" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultMap="clubResultMap">
        SELECT
            A.club_no,
            A.club_name,
            A.introduction,
            A.max_personnel,
            B.category_name,
            C.eup_myeon_dong_name,
            (SELECT COUNT(*) FROM CL_MEMBER D WHERE D.club_no = A.club_no) AS current_personnel,
            (SELECT E.saved_name FROM ATTACHMENT E WHERE E.type_code = 'CL' AND E.target_no = A.club_no) AS saved_name
        FROM CL A
        LEFT JOIN CL_CATEGORY B ON A.category_code = B.category_code
        LEFT JOIN LOCATION C ON A.location_code = C.location_code
        WHERE A.location_code = #{ locationCode }
        <if test="categoryCode != 'ALL' and categoryCode != null">
            AND A.category_code = #{ categoryCode }
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND A.club_name LIKE CONCAT('%', #{ searchWord }, '%')
        </if>
        ORDER BY current_personnel ASC
        LIMIT #{ startIndex }, #{ pageCount }
    </select>

    <select id="selectClubCount" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultType="Integer">
        SELECT COUNT(*) club_count FROM CL
        WHERE location_code = #{ locationCode }
        <if test="categoryCode != 'ALL' and categoryCode != null">
            AND category_code = #{ categoryCode }
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND club_name LIKE CONCAT('%', #{ searchWord }, '%')
        </if>
    </select>

</mapper>