<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubMapper">

    <resultMap type="categoryDTO" id="categoryResultMap">

        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>

    </resultMap>


    <select id="selectCategoryList" resultMap="categoryResultMap">
        SELECT
        A.category_code,
        A.category_name
        FROM CL_CATEGORY A
        ORDER BY
            CASE
                WHEN category_code = 'ETC' THEN 1
                ELSE 0
            END,
        category_code;
    </select>

</mapper>