<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="clubMapper">

    <resultMap id="clubResultMap" type="com.multi.udong.club.model.dto.ClubDTO">

        <id property="clubNo" column="club_no"/>

        <result property="clubName" column="club_name"/>
        <result property="introduction" column="introduction"/>
        <result property="currentPersonnel" column="current_personnel"/>
        <result property="maxPersonnel" column="max_personnel"/>
        <result property="chatroomCode" column="chatroom_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="joinStatus" column="join_status"/>

        <association property="category" resultMap="categoryResultMap"/>
        <association property="location" resultMap="locationResultMap"/>
        <association property="master" resultMap="masterResultMap"/>

        <collection property="attachment" resultMap="attachmentResultMap"/>
        <collection property="clubMember" resultMap="clubMemberResultMap"/>

    </resultMap>
    
    <resultMap id="categoryResultMap" type="categoryDTO">

        <id property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>

    </resultMap>

    <resultMap id="locationResultMap" type="com.multi.udong.common.model.dto.LocationDTO">

        <id property="locationCode" column="location_code"/>
        <result property="siDoName" column="si_do_name"/>
        <result property="siGunGuName" column="si_gun_gu_name"/>
        <result property="eupMyeonDongName" column="eup_myeon_dong_name"/>

    </resultMap>

    <resultMap id="masterResultMap" type="com.multi.udong.club.model.dto.ClubMemberDTO">

        <id property="memberNo" column="master"/>
        <result property="nickname" column="master_nickname"/>

    </resultMap>

    <resultMap id="attachmentResultMap" type="com.multi.udong.common.model.dto.AttachmentDTO">

        <id property="fileNo" column="file_no"/>
        <result property="typeCode" column="type_code"/>
        <result property="targetNo" column="target_no"/>
        <result property="originalName" column="original_name"/>
        <result property="savedName" column="saved_name"/>

    </resultMap>

    <resultMap id="clubMemberResultMap" type="com.multi.udong.club.model.dto.ClubMemberDTO">

        <id property="memberNo" column="member_no"/>
        <result property="nickname" column="nickname"/>

    </resultMap>

    <resultMap id="logResultMap" type="com.multi.udong.club.model.dto.LogDTO">

        <id property="logNo" column="log_no"/>

        <result property="clubNo" column="club_no"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="views" column="views"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="repliesCount" column="replies_count"/>
        <result property="likesCount" column="likes_count"/>
        <result property="viewerLike" column="viewer_log_like"/>

        <association property="writer" resultMap="logWriterResultMap"/>

        <collection property="attachments" resultMap="attachmentResultMap"/>
        <collection property="likes" resultMap="logLikeResultMap"/>
        <collection property="replies" resultMap="logReplyResultMap"/>

    </resultMap>

    <resultMap id="logWriterResultMap" type="com.multi.udong.club.model.dto.ClubMemberDTO">

        <id property="memberNo" column="log_writer"/>
        <result property="nickname" column="log_writer_nickname"/>

    </resultMap>

    <resultMap id="logLikeResultMap" type="com.multi.udong.club.model.dto.LikeDTO">

        <id property="logNo" column="liked_log_no"/>
        <id property="memberNo" column="log_like_member_no"/>
        <result property="likedAt" column="log_liked_at"/>

    </resultMap>

    <resultMap id="logReplyResultMap" type="com.multi.udong.club.model.dto.ReplyDTO">

        <id property="replyNo" column="reply_no"/>

        <result property="logNo" column="replied_log_no"/>
        <result property="content" column="reply_content"/>
        <result property="createdAt" column="reply_created_at"/>
        <result property="modifiedAt" column="reply_modified_at"/>
        <result property="viewerLike" column="viewer_reply_like"/>
        <result property="likesCount" column="reply_likes_count"/>

        <association property="writer" resultMap="replyWriterResultMap"/>

        <collection property="likes" resultMap="replyLikeResultMap"/>

    </resultMap>

    <resultMap id="replyWriterResultMap" type="com.multi.udong.club.model.dto.ClubMemberDTO">

        <id property="memberNo" column="reply_writer"/>
        <result property="nickname" column="reply_writer_nickname"/>
        <result property="profileSavedName" column="profile_saved_name"/>

    </resultMap>

    <resultMap id="replyLikeResultMap" type="com.multi.udong.club.model.dto.LikeDTO">

        <id property="logNo" column="liked_reply_no"/>
        <id property="memberNo" column="reply_like_member_no"/>
        <result property="likedAt" column="reply_liked_at"/>

    </resultMap>



    <select id="selectCategoryList" resultMap="categoryResultMap">
        SELECT
        A.category_code,
        A.category_name
        FROM CL_CATEGORY A
        ORDER BY
            CASE
                WHEN category_code = 'ETC' THEN 1
                ELSE 0
            END,
        category_code;
    </select>

    <insert id="insertClub" parameterType="com.multi.udong.club.model.dto.ClubDTO" useGeneratedKeys="true" keyProperty="clubNo">
        INSERT INTO CL
            (category_code, location_code, club_name, introduction, master, max_personnel)
        VALUES
            (
            #{ category.categoryCode },
            #{ location.locationCode },
            #{ clubName },
            #{ introduction },
            #{ master.memberNo },
            #{ maxPersonnel }
        )
    </insert>

    <insert id="insertClubImg" parameterType="com.multi.udong.common.model.dto.AttachmentDTO">
        INSERT INTO ATTACHMENT
        (type_code, target_no, original_name, saved_name)
        VALUES
        (
        #{ typeCode },
        #{ targetNo },
        #{ originalName },
        #{ savedName }
        )
    </insert>

    <update id="updateChatroomCode" parameterType="com.multi.udong.club.model.dto.ClubDTO">
        UPDATE CL
        SET chatroom_code = #{ chatroomCode }
        WHERE club_no = #{ clubNo }
    </update>

    <insert id="insertMaster" parameterType="com.multi.udong.club.model.dto.ClubDTO">
        INSERT INTO CL_MEMBER
        (club_no, member_no, join_status, approved_at)
        VALUES
        (
        #{ clubNo },
        #{ master.memberNo },
        'Y',
        NOW()
        )
    </insert>

    <select id="selectClubList" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultMap="clubResultMap">
        SELECT
            A.club_no,
            A.club_name,
            A.introduction,
            A.max_personnel,
            B.category_name,
            C.eup_myeon_dong_name,
            (SELECT COUNT(*) FROM CL_MEMBER D WHERE D.club_no = A.club_no AND D.join_status = 'Y') AS current_personnel,
            (SELECT E.saved_name FROM ATTACHMENT E WHERE E.type_code = 'CL' AND E.target_no = A.club_no) AS saved_name
        FROM CL A
        LEFT JOIN CL_CATEGORY B ON A.category_code = B.category_code
        LEFT JOIN LOCATION C ON A.location_code = C.location_code
        WHERE A.location_code = #{ locationCode }
        <if test="categoryCode != 'ALL' and categoryCode != null and categoryCode != ''">
            AND A.category_code = #{ categoryCode }
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND (
                A.club_name LIKE CONCAT('%', #{ searchWord }, '%')
                OR A.introduction LIKE CONCAT('%', #{ searchWord }, '%')
            )
        </if>
        ORDER BY current_personnel DESC
        LIMIT #{ startIndex }, #{ pageCount }
    </select>

    <select id="selectClubCount" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultType="Integer">
        SELECT COUNT(*) club_count FROM CL
        WHERE location_code = #{ locationCode }
        <if test="categoryCode != 'ALL' and categoryCode != null and categoryCode != ''">
            AND category_code = #{ categoryCode }
        </if>
        <if test="searchWord != null and searchWord != ''">
            AND (
                club_name LIKE CONCAT('%', #{ searchWord }, '%')
                OR introduction LIKE CONCAT('%', #{ searchWord }, '%')
            )
        </if>
    </select>

    <select id="selectClubHome" parameterType="com.multi.udong.club.model.dto.RequestDTO" resultMap="clubResultMap">
        SELECT
            A.*,
            B.category_name,
            C.*,
            (SELECT D.nickname FROM MEMBER D WHERE D.member_no = A.master) AS master_nickname,
            (SELECT COUNT(*) FROM CL_MEMBER E WHERE E.club_no = A.club_no AND E.join_status = 'Y') AS current_personnel,
            (SELECT E.join_status FROM CL_MEMBER E WHERE E.club_no = A.club_no AND E.member_no = #{ memberNo }) AS join_status,
            F.*
        FROM CL A
        LEFT JOIN CL_CATEGORY B ON A.category_code = B.category_code
        LEFT JOIN LOCATION C ON A.location_code = C.location_code
        LEFT JOIN ATTACHMENT F ON 'CL' = F.type_code AND A.club_no = F.target_no
        WHERE A.club_no = #{ clubNo }
    </select>

    <insert id="requestJoinClub" parameterType="com.multi.udong.club.model.dto.RequestDTO">
        INSERT INTO CL_MEMBER
            (club_no, member_no)
        VALUES
            (
            #{ clubNo },
            #{ memberNo }
            )
    </insert>

    <select id="checkJoinStatus" parameterType="com.multi.udong.club.model.dto.RequestDTO" resultType="String">
        SELECT join_status
        FROM CL_MEMBER
        WHERE club_no = #{ clubNo } AND member_no = #{ memberNo }
    </select>

    <select id="checkPersonnel" parameterType="Integer" resultMap="clubResultMap">
        SELECT
            A.max_personnel,
            (SELECT COUNT(*) FROM CL_MEMBER B WHERE B.club_no = A.club_no AND B.join_status = 'Y') AS current_personnel
        FROM CL A
        WHERE club_no = #{ clubNo }
    </select>

    <select id="checkClubMaster" parameterType="Integer" resultType="Integer">
        SELECT master
        FROM CL
        WHERE club_no = #{ clubNo }
    </select>

    <delete id="cancelJoinRequest" parameterType="com.multi.udong.club.model.dto.RequestDTO">
        DELETE FROM CL_MEMBER
        WHERE club_no = #{ clubNo } AND member_no = #{ memberNo } AND join_status = 'W'
    </delete>

    <delete id="leaveClub" parameterType="com.multi.udong.club.model.dto.RequestDTO">
        DELETE FROM CL_MEMBER
        WHERE club_no = #{ clubNo } AND member_no = #{ memberNo } AND join_status = 'Y'
    </delete>

    <delete id="deleteClub" parameterType="com.multi.udong.club.model.dto.RequestDTO">
        DELETE FROM CL
        WHERE club_no = #{ clubNo }
    </delete>

    <delete id="deleteClubImg" parameterType="Integer">
        DELETE FROM ATTACHMENT
        WHERE type_code = 'CL' AND target_no = #{ clubNo }
    </delete>

    <insert id="reportClub" parameterType="com.multi.udong.club.model.dto.ReportDTO">
        INSERT INTO ADM_REPORT
            (type_code, reported_member, reporter_member, reason, url)
        VALUES
            (
            #{ typeCode },
            #{ reportedMember },
            #{ reporterMember },
            #{ reason },
            #{ url }
            )
    </insert>

    <update id="updateClub" parameterType="com.multi.udong.club.model.dto.ClubDTO">
        UPDATE CL
        SET
            category_code = #{ category.categoryCode },
            club_name = #{ clubName },
            introduction = #{ introduction }
        WHERE club_no = #{ clubNo }
    </update>

    <update id="updateClubImg" parameterType="com.multi.udong.common.model.dto.AttachmentDTO">
        UPDATE ATTACHMENT
        SET
            original_name = #{ originalName },
            saved_name = #{ savedName }
        WHERE type_code = 'CL' AND target_no = #{ targetNo }
    </update>

    <select id="selectClubImg" parameterType="Integer" resultMap="attachmentResultMap">
        SELECT *
        FROM ATTACHMENT
        WHERE type_code = 'CL' AND target_no = #{ clubNo }
    </select>

    <insert id="insertLog" parameterType="com.multi.udong.club.model.dto.LogDTO" useGeneratedKeys="true" keyProperty="logNo">
        INSERT INTO CL_LOG
            (club_no, title, content, writer)
        VALUES
            (
            #{ clubNo },
            #{ title },
            #{ content },
            #{ writer.memberNo }
            )
    </insert>

    <insert id="insertLogImg" parameterType="com.multi.udong.common.model.dto.AttachmentDTO">
        INSERT INTO ATTACHMENT
            (type_code, target_no, original_name, saved_name)
        VALUES
            (
            #{ typeCode },
            #{ targetNo },
            #{ originalName },
            #{ savedName }
            )
    </insert>

    <select id="checkAdmin" parameterType="Integer" resultType="String">
        SELECT authority
        FROM MEMBER
        WHERE member_no = #{ memberNo }
    </select>

    <select id="selectLogList" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultMap="logResultMap">
        SELECT
        A.log_no,
        A.club_no,
        A.title,
        A.content,
        A.views,
        A.created_at,
        B.nickname AS log_writer_nickname,
        (SELECT COUNT(*) FROM CL_LOG_LIKE C WHERE C.log_no = A.log_no) AS likes_count,
        (SELECT COUNT(*) FROM CL_LOG_REPLY D WHERE D.log_no = A.log_no) AS replies_count,
        (SELECT E.saved_name FROM ATTACHMENT E WHERE E.type_code = 'CL-LOG' AND E.target_no = A.log_no ORDER BY E.file_no LIMIT 1) AS saved_name
        FROM CL_LOG A
        LEFT JOIN MEMBER B ON A.writer = B.member_no
        WHERE A.club_no = #{ clubNo }
        <if test="searchWord != null and searchWord != ''">
            AND (
                A.title LIKE CONCAT('%', #{ searchWord }, '%')
                OR A.content LIKE CONCAT('%', #{ searchWord }, '%')
            )
        </if>
        ORDER BY A.log_no DESC
        LIMIT #{ startIndex }, #{ pageCount }
    </select>

    <select id="selectLogCount" parameterType="com.multi.udong.club.model.dto.FilterDTO" resultType="Integer">
        SELECT COUNT(*) log_count FROM CL_LOG
        WHERE club_no = #{ clubNo }
        <if test="searchWord != null and searchWord != ''">
            AND (
                title LIKE CONCAT('%', #{ searchWord }, '%')
                OR content LIKE CONCAT('%', #{ searchWord }, '%')
            )
        </if>
    </select>

    <select id="selectLogDetail" parameterType="com.multi.udong.club.model.dto.RequestDTO" resultMap="logResultMap">
        SELECT
            A.log_no,
            A.club_no,
            A.title,
            A.content,
            A.views,
            A.created_at,
            A.modified_at,
            A.writer AS log_writer,
            B.nickname AS log_writer_nickname,
            C.reply_no,
            C.log_no AS replied_log_no,
            C.content AS reply_content,
            C.writer AS reply_writer,
            C.created_at AS reply_created_at,
            C.modified_at AS reply_modified_at,
            (SELECT nickname FROM MEMBER B WHERE B.member_no = C.writer) AS reply_writer_nickname,
            (SELECT COUNT(*) FROM CL_LOG_LIKE C WHERE C.log_no = A.log_no) AS likes_count,
            (SELECT COUNT(*) FROM CL_LOG_LIKE C WHERE C.log_no = A.log_no AND C.member_no = #{ memberNo }) AS viewer_log_like,
            (SELECT COUNT(*) FROM CL_LOG_REPLY D WHERE D.log_no = A.log_no) AS replies_count,
            E.*,
            (SELECT COUNT(*) FROM CL_LOG_REPLY_LIKE F WHERE F.reply_no = C.reply_no AND F.member_no = #{ memberNo }) AS viewer_reply_like,
            (SELECT COUNT(*) FROM CL_LOG_REPLY_LIKE F WHERE F.reply_no = C.reply_no) AS reply_likes_count,
            (SELECT COUNT(*) FROM ATTACHMENT E WHERE E.type_code = 'MEM' AND E.target_no = #{ memberNo }) AS profile_saved_name
        FROM CL_LOG A
        LEFT JOIN MEMBER B ON A.writer = B.member_no
        LEFT JOIN CL_LOG_REPLY C ON A.log_no = C.log_no
        LEFT JOIN ATTACHMENT E ON E.type_code = 'CL-LOG' AND A.log_no = E.target_no
        WHERE A.log_no = #{ logNo } AND A.club_no = #{ clubNo }
    </select>

    <insert id="insertReply" parameterType="com.multi.udong.club.model.dto.ReplyDTO">
        INSERT INTO CL_LOG_REPLY
            (log_no, content, writer)
        VALUES
            (
            #{ logNo },
            #{ content },
            #{ writer.memberNo }
            )
    </insert>

</mapper>