<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.udong.cs.model.dao.CSMapper">

    <select id="selectQue" parameterType="pageDTO" resultType="java.util.LinkedHashMap">
        SELECT
            sub.cs_no,
            t.type_name,
            sub.title,
            sub.created_at,
            sub.is_answered,
            sub.total_count
        FROM (
            SELECT
                cq.*,
                COUNT(*) OVER() AS total_count,
                ROW_NUMBER() OVER (ORDER BY cq.created_at DESC) AS rownum
            FROM CS_QUESTION cq
            WHERE cq.writer_no = #{memberNo}
            <if test="searchWord != null">
                AND (
                    cq.title LIKE CONCAT('%', #{searchWord}, '%')
                    OR cq.content LIKE CONCAT('%', #{searchWord}, '%')
                )
            </if>
        ) sub
        JOIN TYPE t ON sub.cs_type = t.type_code
        WHERE sub.rownum BETWEEN #{start} AND #{end}
    </select>

    <select id="selectAllQue" parameterType="pageDTO" resultType="java.util.LinkedHashMap">
        SELECT
            sub.cs_no,
            t.type_name,
            sub.title,
            m.nickname,
            sub.created_at,
            sub.is_answered,
            sub.total_count
        FROM (
            SELECT
                cq.*,
                COUNT(*) OVER() AS total_count,
                ROW_NUMBER() OVER (ORDER BY cq.created_at DESC) AS rownum
            FROM CS_QUESTION cq
            <where>
                <if test="searchWord != null and searchWord != ''">
                    (cq.title LIKE CONCAT('%', #{searchWord}, '%')
                    OR cq.content LIKE CONCAT('%', #{searchWord}, '%'))
                </if>
            </where>
        ) sub
        JOIN TYPE t ON sub.cs_type = t.type_code
        JOIN MEMBER m ON sub.writer_no = m.member_no
        WHERE sub.rownum BETWEEN #{start} AND #{end}
        ORDER BY sub.created_at DESC
    </select>

    <select id="getAllTypes" resultType="typeDTO">
        SELECT type_code, type_name
        FROM TYPE
    </select>

    <insert id="insertQueForm" parameterType="csQuestionDTO" useGeneratedKeys="true" keyProperty="csNo">
        INSERT INTO CS_QUESTION (writer_no, cs_type, title, content) VALUES
        (#{writerNo}, #{csType}, #{title}, #{content})
    </insert>

    <insert id="insertFile" parameterType="attachmentDTO">
        INSERT INTO ATTACHMENT (original_name, saved_name, type_code, target_no) VALUES
        (#{originalName}, #{savedName}, #{typeCode}, LAST_INSERT_ID())
    </insert>

    <select id="getQueDetail" resultType="csQuestionDTO">
        SELECT
            cq.cs_no,
            cq.writer_no,
            t.type_name AS csName,
            cq.title,
            cq.content,
            cq.created_at
        FROM CS_QUESTION cq
        JOIN TYPE t ON cq.cs_type = t.type_code
        WHERE cq.cs_no = #{csNo}
    </select>

    <select id="getQueAttachment" resultType="attachmentDTO">
        SELECT *
        FROM ATTACHMENT
        WHERE type_code = "CS"
        AND target_no = #{csNo}
    </select>

    <select id="getQueAnswer" resultType="csAnswerDTO">
        SELECT *, m.nickname
        FROM CS_ANSWER ca
        JOIN Member m ON ca.answerer_no = m.member_no
        WHERE cs_no = #{csNo}
    </select>

    <select id="getAttachment" resultType="attachmentDTO">
        SELECT * FROM ATTACHMENT WHERE file_no = #{fileNo}
    </select>

    <insert id="insertAnswerQue" parameterType="csAnswerDTO" useGeneratedKeys="true" keyProperty="answerNo">
        INSERT INTO CS_ANSWER (cs_no, answerer_no, content) VALUES
        (#{csNo}, #{answererNo}, #{content})
    </insert>

    <select id="getAnswerCreatedAt" resultType="string">
        SELECT created_at FROM CS_ANSWER WHERE answer_no = LAST_INSERT_ID()
    </select>

    <update id="updateQueIsAnswered">
        UPDATE CS_QUESTION
        SET is_answered = 'Y'
        WHERE cs_no = #{csNo}
    </update>

    <update id="updateMember" parameterType="attachmentDTO">
        UPDATE MEMBER
        SET modified_at = CURRENT_TIMESTAMP
        WHERE member_no = #{targetNo}
    </update>

    <select id="isQueAnswered" resultType="string">
        SELECT is_answered FROM CS_QUESTION WHERE cs_no = ${csNo}
    </select>

    <delete id="deleteQue">
        DELETE FROM CS_QUESTION
        WHERE cs_no = #{csNo}
    </delete>
    
</mapper>
