<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.udong.cs.model.dao.CSMapper">

    <select id="selectQue" parameterType="pageDTO" resultType="java.util.LinkedHashMap">
        SELECT
            sub.cs_no,
            t.type_name,
            sub.title,
            sub.content,
            sub.created_at,
            sub.is_answered,
            sub.total_count
        FROM (
            SELECT
                cq.*,
                COUNT(*) OVER() AS total_count,
                ROW_NUMBER() OVER (ORDER BY cq.created_at DESC) AS rownum
            FROM CS_QUESTION cq
            WHERE cq.writer_no = #{memberNo}
            <if test="searchWord != null">
                AND (
                    cq.title LIKE CONCAT('%', #{searchWord}, '%')
                    OR cq.content LIKE CONCAT('%', #{searchWord}, '%')
                )
            </if>
        ) sub
        JOIN TYPE t ON sub.cs_type = t.type_code
        WHERE sub.rownum BETWEEN #{start} AND #{end}
    </select>

    <select id="getAllTypes" resultType="typeDTO">
        SELECT type_code, type_name
        FROM TYPE
    </select>

    <insert id="insertQueForm" parameterType="csQuestionDTO" useGeneratedKeys="true" keyProperty="csNo">
        INSERT INTO CS_QUESTION (writer_no, cs_type, title, content) VALUES
        (#{writerNo}, #{csType}, #{title}, #{content})
    </insert>

    <select id="selectLastInsertId" resultType="int">
        <!-- LAST_INSERT_ID(): MySQL에서 마지막으로 AUTO_INCREMENT된 값을 반환하는 함수 -->
        SELECT LAST_INSERT_ID()
    </select>

    <insert id="insertFile" parameterType="attachmentDTO">
        INSERT INTO ATTACHMENT (original_name, saved_name, type_code, target_no) VALUES
        (#{originalName}, #{savedName}, #{typeCode}, #{targetNo})
    </insert>

    <select id="getQueDetail" resultType="csQuestionDTO">
        SELECT
            cq.cs_no,
            cq.writer_no,
            t.type_name AS csName,
            cq.title,
            cq.content,
            cq.created_at
        FROM CS_QUESTION cq
        JOIN TYPE t ON cq.cs_type = t.type_code
        WHERE cq.cs_no = #{csNo}
    </select>

    <select id="getQueAttachment" resultType="attachmentDTO">
        SELECT *
        FROM ATTACHMENT
        WHERE type_code = "CS"
        AND target_no = #{csNo}
    </select>

    <select id="getQueAnswer" resultType="csAnswerDTO">
        SELECT *
        FROM CS_ANSWER
        WHERE cs_no = #{csNo}
    </select>

    <select id="getAttachment" resultType="attachmentDTO">
        SELECT * FROM ATTACHMENT WHERE file_no = #{fileNo}
    </select>

    <insert id="insertAnswerQue" parameterType="csAnswerDTO" useGeneratedKeys="true" keyProperty="answer_no">
        INSERT INTO CS_ANSWER (cs_no, answerer_no, content) VALUES
        (#{csNo}, #{answererNo}, #{content})
    </insert>
    
</mapper>
