<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SaleMapper">

    <resultMap id="saleWithAttachment" type="com.multi.udong.sale.model.dto.SaleDTO">
        <id property="saleNo" column="sale_no"/>
        <result property="writer" column="writer"/>
        <result property="title" column="title"/>
        <result property="startedAt" column="started_at"/>
        <result property="endedAt" column="ended_at"/>
        <result property="originalPrice" column="original_price"/>
        <result property="salePrice" column="sale_price"/>
        <result property="address" column="address"/>
        <result property="content" column="content"/>
        <result property="locationCode" column="location_code"/>
        <collection property="attachments" ofType="com.multi.udong.common.model.dto.AttachmentDTO">
            <id property="fileNo" column="file_no"/>
            <result property="typeCode" column="type_code"/>
            <result property="targetNo" column="target_no"/>
            <result property="originalName" column="original_name"/>
            <result property="savedName" column="saved_name"/>
        </collection>
    </resultMap>

    <insert id="insertSale" parameterType="SaleDTO" useGeneratedKeys="true" keyProperty="saleNo">
        INSERT INTO SAL (writer, title, started_at, ended_at, original_price, sale_price, address, content, location_code)
        VALUES (#{writer}, #{title}, #{startedAt}, #{endedAt}, #{originalPrice}, #{salePrice}, #{address}, #{content}, #{locationCode})
    </insert>

    <insert id="insertAttachments" parameterType="java.util.List">
        INSERT INTO ATTACHMENT (type_code, target_no, original_name, saved_name)
        VALUES
        <foreach collection="list" item="img" separator=",">
            (#{img.typeCode}, #{img.targetNo}, #{img.originalName}, #{img.savedName})
        </foreach>
    </insert>

    <select id="getAllSales" resultMap="saleWithAttachment">
        SELECT s.*, a.*
        FROM SAL s
        LEFT JOIN ATTACHMENT a ON s.sale_no = a.target_no AND a.type_code = 'SAL'
        ORDER BY s.sale_no DESC
    </select>

    <select id="getAllSalesWithAttachments" resultMap="saleWithAttachment">
        SELECT s.*, a.*
        FROM SAL s
        LEFT JOIN ATTACHMENT a ON s.sale_no = a.target_no AND a.type_code = 'SAL'
        ORDER BY s.sale_no DESC
    </select>

    <select id="searchSales" resultMap="saleWithAttachment">
        SELECT s.*, a.*
        FROM SAL s
        LEFT JOIN ATTACHMENT a ON s.sale_no = a.target_no AND a.type_code = 'SAL'
        WHERE s.title LIKE CONCAT('%', #{keyword}, '%') OR s.content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY s.sale_no DESC
    </select>


</mapper>