<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 별명을 지어서 사용 -->

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- DB 조회결과 snake_case -> camelCase 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.multi.udong.common.model.dto.TypeDTO" alias="typeDTO"/>

        <!-- 성현 -->
        <typeAlias type="com.multi.udong.club.model.dto.CategoryDTO" alias="categoryDTO"/>

        <!-- 지은 -->
        <typeAlias type="com.multi.udong.share.model.dto.ShaCatDTO" alias="shaCatDTO"/>
        <typeAlias type="com.multi.udong.share.model.dto.ShaItemDTO" alias="shaItemDTO"/>
        <typeAlias type="com.multi.udong.share.model.dto.ShaReqDTO" alias="shaReqDTO"/>
        <typeAlias type="com.multi.udong.common.model.dto.AttachmentDTO" alias="attachmentDTO"/>
        <typeAlias type="com.multi.udong.share.model.dto.ShaLikeDTO" alias="shaLikeDTO"/>
        <typeAlias type="com.multi.udong.share.model.dto.ShaReqDTO" alias="shaReqDTO"/>

        <!-- 재식 -->
        <typeAlias type="com.multi.udong.member.model.dto.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.multi.udong.member.model.dto.MemAddressDTO" alias="memAddressDTO"/>
        <typeAlias type="com.multi.udong.member.model.dto.MemBusDTO" alias="memBusDTO"/>
        <typeAlias type="com.multi.udong.member.model.dto.PageDTO" alias="pageDTO"/>
        <typeAlias type="com.multi.udong.cs.model.dto.CSQuestionDTO" alias="csQuestionDTO"/>
        <typeAlias type="com.multi.udong.cs.model.dto.CSAnswerDTO" alias="csAnswerDTO"/>
        <typeAlias type="com.multi.udong.message.model.dto.MessageDTO" alias="messageDTO"/>
        <typeAlias type="com.multi.udong.message.model.dto.MessageBlockDTO" alias="messageBlockDTO"/>
        <typeAlias type="com.multi.udong.notification.model.dto.NotiDTO" alias="notiDTO"/>
        <typeAlias type="com.multi.udong.notification.model.dto.NotiSetDTO" alias="notiSetDTO"/>

        <typeAlias type="com.multi.udong.sale.model.dto.SaleDTO" alias="saleDTO"/>

    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </typeHandlers>

    <mappers>
        <!-- 성현 -->
        <mapper resource="mappers/ClubMapper.xml"/>
        <mapper resource="mappers/NewsMapper.xml"/>

        <mapper resource="mappers/ShareMapper.xml"/>

        <!-- 재식 -->
        <mapper resource="mappers/MemberMapper.xml"/>
        <mapper resource="mappers/CSMapper.xml"/>
        <mapper resource="mappers/MessageMapper.xml"/>
        <mapper resource="mappers/NotiMapper.xml"/>

        <mapper resource="mappers/SaleMapper.xml"/>
        <mapper resource="mappers/ReportMapper.xml"/>
        <mapper resource="mappers/AdminMapper.xml"/>
        <mapper resource="mappers/NoticeMapper.xml"/>

    </mappers>
</configuration>