<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainDesign.css}" />
    <style>
        .btn {
            min-width: 120px;
            width: 120px;
            border: none;
            border-radius: 5px;
            padding: 0px;
            transition: background-color 0.3s ease;
        }
    </style>
</head>
<body>
<div th:replace="~{/common/menubar}"></div>
<main>
    <div th:replace="~{/member/sidebar}"></div>
    <div class="content-area"></div>
</main>
<div id="msg" th:text="${msg}" hidden></div>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var msg = document.getElementById('msg');
        if (msg && msg.textContent) {
            alert(msg.textContent);
        }
    });
</script> <!--msg alert-->
</html>