<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const alert = /*[[${alert}]]*/ null;
        const alertType = /*[[${alertType}]]*/ null;

        if (alert) {
            switch(alertType) {
                case 'success':
                    showSuccessAlert(alert);
                    break;
                case 'error':
                    showErrorAlert(alert);
                    break;
                case 'confirm':
                    showConfirmAlert(alert);
                    break;
                default:
                    showAlert(alert);
            }
        }
    });

    function showAlert(alert) {
        Swal.fire({
            title: alert,
            confirmButtonColor: "#3B5C9A",
            confirmButtonText: "확인",
        });
    }

    function showSuccessAlert(alert) {
        return Swal.fire({
            title: alert,
            confirmButtonColor: "#3B5C9A",
            confirmButtonText: "확인",
            icon: "success"
        }).then(result => {
            return result.isConfirmed;
        });
    }

    function showErrorAlert(alert) {
        Swal.fire({
            title: alert,
            confirmButtonColor: "#3B5C9A",
            confirmButtonText: "확인",
            icon: "error"
        });
    }

    function showConfirmAlert(alert) {
        return Swal.fire({
            title: alert,
            showCancelButton: true,
            confirmButtonColor: "#3B5C9A",
            confirmButtonText: "확인",
            cancelButtonText: "취소",
            icon: "warning"
        }).then(result => {
            return result.isConfirmed;
        });
    }

</script> <!--alert-->
</html>