<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainDesign.css}" />
    <style>
        .btn {
            width: 100px;
        }
    </style>
</head>
<body>
<div th:replace="~{/common/menubar}"></div>
<div th:replace="~{/member/sidebar}"></div>
<div id="msg" th:text="${msg}" style="display: none;"></div>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var msg = document.getElementById('msg');
        if (msg && msg.textContent) {
            alert(msg.textContent);
        }
    });
</script> <!--msg alert-->
</html>