<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainDesign.css}" />
    <style>
        .dashBoard {
            width: calc((100% - 260px) / 2);
            text-align: center;
            border: 1px solid #000000;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        h2 {
            text-align: left;
        }
        .recent-board {
            flex: 1;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div th:replace="~{/common/menubar}"></div>
<div th:replace="~{/member/alert}"></div>
<main>
    <div th:replace="~{/member/sidebar}"></div>
    <div class="content-area">
        <div class="dashBoard">
            <h2>활동 요약</h2>
            <div class="summary">올린 대여글</div>
            <div class="summary">대여한 물건</div>
            <div class="summary">올린 나눔글</div>
            <div class="summary">가입한 모임</div>
            <div class="summary">평균 평점</div>
            <div class="summary">회원 레벨</div>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/member/act?table=newsBoard&page=1}'|">나의 우동 소식</h2>
            <table class="recent-board">
                <tr th:each="data : ${newsData}">
                    <td th:text="${data.title}"></td>
                </tr>
            </table>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/share/dream/lend}'|">올린 대여글</h2>
            <table class="recent-board">
                <tr th:each="data : ${lendData}">
                    <td th:text="${data.title}" th:onclick="|location.href='@{/share/rent/detail(itemNo=${data.item_no})}'|"></td>
                </tr>
            </table>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/share/dream/borrow}'|">대여한 물건</h2>
            <table class="recent-board">
                <tr th:each="data : ${rentData}">
                    <td th:text="${data.title}" th:onclick="|location.href='@{/share/rent/detail(itemNo=${data.item_no})}'|"></td>
                </tr>
            </table>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/share/dream/lend}'|">올린 나눔글</h2>
            <table class="recent-board">
                <tr th:each="data : ${giveData}">
                    <td th:text="${data.title}" th:onclick="|location.href='@{/share/give/detail(itemNo=${data.item_no})}'|"></td>
                </tr>
            </table>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/member/act?table=club&page=1}'|">가입한 모임</h2>
            <table class="recent-board">
                <tr th:each="data : ${clubData}">
                    <td th:text="${data.club_name}" th:onclick="|location.href='@{/club/clubHome(clubNo=${data.club_no})}'|"></td>
                </tr>
            </table>
        </div>
        <div class="dashBoard">
            <h2 th:onclick="|location.href='@{/member/act?table=clubSchedule&page=1}'|">다가오는 일정</h2>
            <table class="recent-board">
                <tr th:each="data : ${scheduleData}">
                    <td th:text="${data.title}" th:onclick="|location.href='@{/club/clubSchedule/scheduleDetail(clubNo=${data.club_no},scheduleNo=${data.schedule_no})}'|"></td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>