<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mainDesign.css}" />
    <style>
        .btn {
            width: 100px;
        }
    </style>
</head>
<body>
<div th:replace="~{/common/menubar}"></div>
<div style="margin: 30px 0 0 50px;">
    마이페이지
    <br>
    <button type="button" class="btn btn-udh-yellow">yellow</button><br>
    <button type="button" class="btn btn-udh-blue">blue</button><br>
    <button type="button" class="btn btn-udh-red">red</button><br>
    <button type="button" class="btn btn-udh-silver">silver</button>
</div>
</body>
</html>