<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

    <style>
        .owner{
            display: flex;
            align-items: center;
            font-size: 30px;
        }

        .level{
            width:25px;
            margin-left: 5px;


        }

        p > span{
            margin-right: 30px;


        }

        .returnDate{
            margin-bottom: 20px;
            width: 50%;

        }


    </style>
</head>
<body id="itemDetail">
<div th:replace="~{/common/menubar}"></div>
<div th:replace="~{share/shaMenubar :: #shaMenubar}"></div>

<div class="container">

    <div class="row mt-5 align-items-center">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel carousel-dark" style="width: 100%">
                <div class="carousel-inner">
                    <div th:if="${item.imgList == null || #lists.isEmpty(item.imgList)}">
                        <div class="carousel-item active">
                            <img th:src="@{/img/noimg.jpg}" class="d-block" alt="기본이미지"
                                 style="height:350px; margin: auto;">
                        </div>
                    </div>
                    <div th:unless="${item.imgList == null || #lists.isEmpty(item.imgList)}"
                         th:each="img, stat : ${item.imgList}" class="carousel-item"
                         th:classappend="${stat.first ? 'active' : ''}">

                        <img th:src="@{'/shaUploadFiles/'+${img.savedName}}" class="d-block " alt="물건이미지"
                             style="height:350px; margin: auto;">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-md-6 px-5">
            <h2>[[${item.title}]]</h2>
            <p class="owner">
                [[${item.nickName}]]<img class="level" th:src="@{'/img/'+${item.level}+'.png'}"></p>
            <p>💛 <span th:text="${item.likeCnt}"></span>👀 <span th:text="${item.viewCnt}"></span>🙋‍♀️ <span
                    th:text="${item.reqCnt}"></span></p>
            <p>
                <span>[[${item.locName}]]</span> <span>[[${item.modifiedAt}]]</span>
            </p>

            <th:block th:if="${item.itemGroup} eq 'give'">
                <h3 class="mb-3"><span class="badge text-bg-danger">마감일: [[${item.expiryDate}]]</span></h3>

                <span th:if="${item.ownerNo} != ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow" th:onclick="shaRequest([[${item}]])">응모하기</button>
                    <button class="btn btn-udh-red">찜</button>
                </span>

                <span th:if="${item.ownerNo} == ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow" th:onclick="|location.href='@{/share/update(itemNo=${item.itemNo})}'|">수정하기</button>

                </span>
            </th:block>

            <th:block th:if="${item.itemGroup} eq 'rent'">
                <div class="returnDate">
                    <label class="form-label">📅반납희망일 설정</label>

                    <div class="input-group input-daterange">
                        <input type="date" class="form-control" name="return" id="datePicker" readonly>
                    </div>
                    <span style="font-size:0.7em">*반납희망일은 오늘 기준 다음날부터 한달 이내로만 선택 가능합니다.</span>
                </div>

                <span th:if="${item.ownerNo} != ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow" th:onclick="shaRequest([[${item}]])">대여신청</button>
                    <button class="btn btn-udh-red">찜</button>
                </span>

                <span th:if="${item.ownerNo} == ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow" th:onclick="|location.href='@{/share/update(itemNo=${item.itemNo})}'|">수정하기</button>
                    <button th:with="status=${item.statusCode == 'UNAV' ? 'AVL' : 'UNAV'}" class="btn btn-udh-silver" th:onclick="|location.href='@{/share/updateStatus(itemNo=${item.itemNo}, statusCode=${status})}'|" th:text="${item.statusCode == 'UNAV' ? '중단해제' : '일시중단'}"></button>
                    <button class="btn btn-udh-red" data-bs-toggle="modal" data-bs-target="#exampleModal">삭제</button>
                </span>
            </th:block>

        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-md-10">
                <textarea class="form-control p-5" id="itemContent" rows="6" readonly
                          th:text="${item.content}"></textarea>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">정말 삭제할까요?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>대여 내역이 있는 게시글을 삭제하면 대여했던 이웃이 당황할 수 있어요.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-udh-silver" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-udh-red" th:onclick="|location.href='@{/share/delete(itemNo=${item.itemNo})}'|">삭제</button>
                </div>
            </div>
        </div>
    </div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/sha.js}"></script>
</body>
</html>