<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

    <style>


        .owner{
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        .level{
            width:20px;
            margin-left: 3px;


        }

        p > span{
            margin-right: 30px;


        }

        .returnDate{
            margin-bottom: 20px;
            width: 50%;

        }

        .div-blur{
            background-color: black;

        }

        .img-blur{
            opacity: 0.4;
        }

        .d-block{
            object-fit: contain;
            height: 350px;
            width: 100%;
            margin: auto;
            text-align: center;
        }

        .blur-info{
            color:white;
            position:absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .likeImg{
            height:100%;

        }

    </style>
</head>
<body id="itemDetail">
<div th:replace="~{/common/menubar}"></div>
<div th:replace="~{share/shaMenubar :: #shaMenubar}"></div>

<div class="container">
    <div th:fragment="detail" id="detail" class="row mt-5 align-items-center">
        <th:block th:if="${item != null}">
            <input type="hidden" th:value="${item.deletedAt}" id="isDeleted">
            <div class="col-md-6">
                <div id="carouselExample" class="carousel slide"
                     th:classappend="${item.statusCode != 'AVL' && item.statusCode != 'GIV'? '' : ' carousel-dark'}">

                    <div class="carousel-inner">
                        <div th:if="${item.imgList == null || #lists.isEmpty(item.imgList)}"
                             class="carousel-item active "
                             th:classappend="${item.statusCode != 'AVL' && item.statusCode != 'GIV'? ' div-blur' : ' '}">
                            <img th:src="@{/img/noimg.jpg}" class="d-block " alt="기본이미지"
                                 th:classappend="${item.statusCode != 'AVL'  && item.statusCode != 'GIV' ? ' img-blur' : ''}">
                        </div>

                        <div th:unless="${item.imgList == null || #lists.isEmpty(item.imgList)}"
                             th:each="img, stat : ${item.imgList}" class="carousel-item "
                             th:classappend="${stat.first ? 'active' : ''} + ${item.statusCode != 'AVL' && item.statusCode != 'GIV'? ' div-blur' : ' '}">
                            <img th:src="@{'/uploadFiles/'+${img.savedName}}" class="d-block " alt="물건이미지"
                                 th:classappend="${item.statusCode != 'AVL'  && item.statusCode != 'GIV' ? ' img-blur' : ''}">

                        </div>
                        <div th:if="${item.statusCode == 'UNAV'}" class="blur-info">
                            <h3>대여불가</h3>
                        </div>
                        <div th:if="${item.statusCode == 'RNT'}" class="blur-info">
                            <h3>대여중</h3>
                            <p>반납예정일: [[${item.returnDate}]]</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-md-6 px-5">
                <span class="badge text-bg-secondary mb-1"
                      style="width:max-content; font-size: 0.9em;">[[${item.itemCatName}]]</span>
                <h2>[[${item.title}]]</h2>
                <p class="owner">
                    <img style="width:25px; height:25px; margin-right:7px" th:src="${#authentication.principal.memberDTO.savedName == null
                   || #authentication.principal.memberDTO.savedName == ''
                   || #authentication.principal.memberDTO.savedName == 'defaultProfile.png'
                      ? '/img/defaultProfile.png'
                      : '/uploadFiles/' + #authentication.principal.memberDTO.savedName}"
                         class="user-icon">[[${item.nickName}]]<img class="level" th:src="@{'/img/'+${item.level}+'.png'}"></p>
                <p>💛 <span id="likeCnt" th:text="${item.likeCnt}"></span>👀 <span id="viewCnt"
                                                                                 th:text="${item.viewCnt}"></span>🙋‍♀️
                    <span
                            id="reqCnt" th:text="${item.reqCnt}"></span></p>
                <p>
                    <span>[[${item.locName}]]</span> <span id="modifiedAt">[[${item.displayDate}]]</span>
                </p>

                <th:block th:if="${item.itemGroup} eq 'give'">
                    <h5 class="mb-3"><span
                            class="badge text-bg-danger rounded-0 py-2 px-4">마감일: [[${item.expiryDate}]]</span></h5>

                    <span th:if="${item.ownerNo} != ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow me-2" th:onclick="shaRequest([[${item}]])">응모하기</button>
                    <button class="btn btn-udh-yellow" th:onclick="updateShaLike([[${item.itemNo}]])"><img class="likeImg"
                                                            th:src="@{${item.liked} ? '/img/like.png' : '/img/notlike.png'}"
                                                            style="height:1em" alt="좋아요"
                                                            ></button>
                </span>

                    <span th:if="${item.ownerNo} == ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow"
                            th:onclick="|location.href='@{/share/update(itemNo=${item.itemNo})}'|">수정하기</button>

                </span>
                </th:block>

                <th:block th:if="${item.itemGroup} eq 'rent'">
                    <div class="returnDate">
                        <label class="form-label">📅반납희망일 설정</label>

                        <div class="input-group input-daterange">
                            <input type="date" class="form-control" name="return" id="datePicker" readonly>
                        </div>
                        <span style="font-size:0.7em">*반납희망일은 다음날부터 한달 이내로만 선택 가능합니다.</span>
                    </div>

                    <span th:if="${item.ownerNo} != ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow" th:onclick="shaRequest([[${item}]])">대여신청</button>
                    <button class="btn btn-udh-yellow" th:onclick="updateShaLike([[${item.itemNo}]])"><img class="likeImg"
                                                            th:src="@{${item.liked} ? '/img/like.png' : '/img/notlike.png'}"
                                                            style="height:1em" alt="좋아요"
                                                            ></button>
                </span>

                    <span th:if="${item.ownerNo} == ${#authentication.principal.memberDTO.memberNo}">
                    <button class="btn btn-udh-yellow"
                            th:onclick="|location.href='@{/share/update(itemNo=${item.itemNo})}'|">수정하기</button>
                    <button id="updateStatBtn" th:with="status=${item.statusCode == 'UNAV' ? 'AVL' : 'UNAV'}"
                            class="btn btn-udh-silver"
                            th:onclick="updateItStat([[${item}]])"
                            th:text="${item.statusCode == 'UNAV' ? '중단해제' : '일시중단'}"></button>
                    <button class="btn btn-udh-red" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
                </span>
                </th:block>

            </div>

            <div class="row my-5 justify-content-center">
                <div class="col-md-10">
                <textarea class="form-control p-5 bg-light" id="itemContent" rows="6" disabled
                          th:text="${item.content}"></textarea>
                </div>

            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">정말 삭제할까요?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>대여 내역이 있는 게시글을 삭제하면 대여했던 이웃이 당황할 수 있어요.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-udh-silver" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-udh-red"
                                  th:onclick="deleteItem([[${item}]])"  >
                                삭제
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/sha.js}"></script>
</body>
</html>